<div class="login-container">
  <mat-card class="login-card">
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-field">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" required />
            <mat-error
              *ngIf="
                loginForm.get('username')?.invalid &&
                loginForm.get('username')?.touched
              "
            >
              Username is required
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-field">
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              formControlName="password"
              required
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-error
              *ngIf="
                loginForm.get('password')?.invalid &&
                loginForm.get('password')?.touched
              "
            >
              Password is required
            </mat-error>
          </mat-form-field>
        </div>

        <div class="error-message" *ngIf="error$ | async as error">
          <mat-error>{{ error }}</mat-error>
        </div>

        <div class="login-actions">
          <button
            mat-flat-button
            color="primary"
            type="submit"
            [disabled]="loginForm.invalid"
            class="full-width-button"
          >
            Login
          </button>
        </div>
      </form>

      <div class="success-message" *ngIf="isAuthenticated$ | async">
        <mat-card>
          <mat-card-content>
            <mat-icon>check_circle</mat-icon>
            You are logged in!
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>
</div>
