<mat-card appearance="outlined">
  <p>Name: {{ employee.firstName }} {{ employee.lastName }}</p>
  <p>Visa: {{ employee.citizenship.visaStatus }}</p>
  <p>Start Date: {{ employee.citizenship.startDate | date : "yyyy-MM-dd" }}</p>
  <p>End Date: {{ employee.citizenship.endDate | date : "yyyy-MM-dd" }}</p>
  <p>
    Days Remaining: {{ calculateDaysRemaining(employee.citizenship.endDate) }}
  </p>

  <div *ngIf="currentDocument">
    <p>Current Document: {{ currentDocument }}</p>
    <p>Status: {{ getDocumentStatus(currentDocument) }}</p>

    <!-- If the current document is rejected, show only the preview button -->
    <div *ngIf="rejectedDocument">
      <button mat-button *ngIf="latestDocumentUrl" (click)="previewDocument()">
        <mat-icon>preview</mat-icon>
        Preview
      </button>
    </div>

    <!-- If the current document is pending, show all action buttons -->
    <div
      class="action-container"
      *ngIf="!rejectedDocument && isDocumentPending(currentDocument)"
    >
      <button
        mat-button
        *ngIf="latestDocumentUrl && hasDocumentName(currentDocument)"
        (click)="previewDocument()"
      >
        <mat-icon>preview</mat-icon>
        Preview
      </button>
      <button
        mat-button
        *ngIf="hasDocumentName(currentDocument)"
        (click)="approveDocument(currentDocument)"
      >
        <mat-icon>forward_to_inbox</mat-icon>
        Approve & Send Notification
      </button>
      <button
        mat-button
        class="reject"
        *ngIf="hasDocumentName(currentDocument)"
        (click)="rejectDocument(currentDocument)"
      >
        <mat-icon>dangerous</mat-icon>
        Reject
      </button>
      <textarea
        mat-input
        *ngIf="hasDocumentName(currentDocument)"
        [(ngModel)]="feedback"
        placeholder="Enter feedback"
      ></textarea>
      <p *ngIf="!hasDocumentName(currentDocument)">
        Waiting for uploading {{ currentDocument }} document.
      </p>
    </div>
  </div>
</mat-card>
