.hiring-management-container {
  padding: 2rem;
}

.columns-container {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
}

.left-column {
  flex-shrink: 0;
}
.right-column {
  flex-grow: 1;
  flex-shrink: 0;
  padding: 1rem;
}

.left-column {
  display: flex;
  flex-direction: column;
  gap: 2rem; /* Add space between RegistrationToken and RegistrationHistory */
}

.right-column {
  display: flex;
  flex-direction: column;
  gap: 2rem; /* Add space between OnboardingReview and any other content */
}
