.hiring-management-container {
  width: 100%;
  padding: 2rem;
}

.columns-container {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.left-column {
  width: 35%;
}
.right-column {
  width: 60%; /* Adjust the width as needed */
}

.left-column {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Add space between RegistrationToken and RegistrationHistory */
}

.right-column {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Add space between OnboardingReview and any other content */
}
