<app-navbar></app-navbar>
<div class="hiring-management-container">
  <div class="hiring-header">
    <h1>Hiring Management</h1>
  </div>

  <div class="columns-container">
    <!-- Left Column -->
    <div class="left-column">
      <app-registration-token></app-registration-token>
      <app-registration-history></app-registration-history>
    </div>

    <!-- Right Column -->
    <div class="right-column">
      <app-onboarding-application></app-onboarding-application>
    </div>
  </div>
</div>
