<div class="registration-history">
  <h2>Registration History</h2>
  <table mat-table [dataSource]="registrationHistory" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">{{ element.status }}</td>
    </ng-container>

    <ng-container matColumnDef="link">
      <th mat-header-cell *matHeaderCellDef>Registration Link</th>
      <td mat-cell *matCellDef="let element">
        <!-- Generate the registration link based on the token -->
        <a
          href="http://localhost:5173/register?token={{ element.token }}"
          target="_blank"
          >Click Here</a
        >
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="['name', 'email', 'status', 'link']"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['name', 'email', 'status', 'link']"
    ></tr>
  </table>
</div>
