<mat-card appearance="outlined" class="registration-form-container">
  <h2>Registration Token</h2>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="form">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required />
        <mat-error *ngIf="registrationForm.get('email')?.invalid">
          Valid email is required
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required />
        <mat-error *ngIf="registrationForm.get('name')?.invalid">
          Name is required
        </mat-error>
      </mat-form-field>
    </div>
    <br />
    <button mat-raised-button color="primary" type="submit">
      Generate Token and Send Email
    </button>
  </form>
</mat-card>
