<div class="employee-profile-page">
  <h1>Employee Profiles page</h1>

  <mat-form-field class="search-bar">
    <mat-label>Search by name</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="searchTerm"
      (input)="filterEmployees()"
    />
  </mat-form-field>

  <div
    class="sumarry-container"
    *ngIf="filteredEmployees.length > 0; else noEmployees"
  >
    <app-employee-profiles-summary
      *ngFor="let employee of filteredEmployees"
      [employee]="employee"
      class="pointer-cursor"
    ></app-employee-profiles-summary>
  </div>

  <ng-template #noEmployees>
    <p>No employees found.</p>
  </ng-template>
</div>
