<app-navbar></app-navbar>
<div class="visa-status-page">
  <div class="in-progress-section">
    <h2>In Progress</h2>
    <div class="section">
      <app-in-process
        *ngFor="let employee of inProgressEmployees"
        [employee]="employee"
      >
      </app-in-process>
    </div>
  </div>

  <div class="all-employees-section">
    <h2>All Employees</h2>
    <mat-form-field class="search-bar">
      <mat-label>Search by name</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="searchTerm"
        (input)="filterEmployees()"
        placeholder="Ex. Alice"
      />
    </mat-form-field>
    <div class="section" *ngIf="filteredEmployees.length > 0">
      <app-all-employees
        *ngFor="let employee of filteredEmployees"
        [employee]="employee"
      >
      </app-all-employees>
    </div>
    <div *ngIf="filteredEmployees.length === 0">
      <p>No matching records found.</p>
    </div>
  </div>
</div>
